<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="p-2 my-2 d-flex justify-content-between">
      <div>
        <%= link_to root_path do  %>
          <img src="https://cdn-icons-png.flaticon.com/512/184/184578.png" width="50" alt="">
        <% end %>
      </div>
      <div>
        <%= link_to 'New list', new_list_path, class: "btn btn-primary" %>
      </div>
    </div>
      <%= yield %>
    <footer class='py-5 text-muted container w-80 text-center'>
      Copyright Sony Tamang 2022.
    </footer>
  </body>
</html>
